<h1>Welcome, <%= @user.username %></h1>
<h2>Account Balance: $<%= @user.balance%></h2>
<% if @user.purchases.size > 0 %>
    <h3>Here are your previous purchases:</h3>
    <table>
    <thead>
    <th>Item:</th>
    <th>Quantity:</th>
    <th>Price:</th>
    <th>Purchase Again?</th>
    </thead>
    <tbody>
        <% @user.purchases.each do |p|%>
            <tr>
                <th><%= link_to p.item.name, item_path(p.item) %></th>
                <th><%= p.quantity %></th>
                <th>$<%= p.item.price * p.quantity.to_f %></th>
                <th><%= link_to "buy again", new_item_purchase_path(p.item) %></th>
            </tr>

        <% end %>
    </tbody>
    </table>
<% else%>
    <h3><%= link_to "Make Your First Purchase", new_purchase_path %></h3>
<% end %>